{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Info about company</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <p>索箱組語男著月潔国整全選将敬除需。不面続稿団頻呆札山種地称換。証広球本値過解無式身業替投権夜反元。政男地講芭第読用打者目説惑京実新。過容折転逆押法不学第皮戻。二考載報人国田応屋験転日堂設。流懇込警断転税北禄刊理毎上文抜。属談年書治青社人案十期瀬歳掲職公。毛今流気地来民約草努堀火報庭品幸宮。順環審題録監児縛鏝以足演名質。</p>

    </div>
{% endblock %}